.text {
  font-size: var(--font-medium);
  color: var(--text-color, var(--color-dark));
  text-align: var(--text-align, start);

  margin-top: var(--text-margin-top, 0);
  margin-bottom: var(--text-margin-bottom, 0);

  padding-left: var(--text-padding-left, 0);
  padding-right: var(--text-padding-right, 0);
}
