.title {
  font-size: var(--font-large);
  font-weight: 700;
  position: relative;

  color: var(--heading-color, var(--color-dark));

  text-shadow: 1px 1px 2px color-mix(in srgb, currentColor 30%, transparent);

  text-align: var(--heading-align, center);
  margin-top: var(--heading-top, 0);
  margin-bottom: var(--heading-bottom, 0);
}

.withUnderline {
  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -16px;
    width: 50%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-gray);

    left: 50%;
    margin-left: -25%;
    transform: none;
  }
}

.title[style*='--heading-align: left']::after {
  left: 0;
  margin-left: 0;
}

.title[style*='--heading-align: right']::after {
  left: auto;
  right: 0;
  margin-left: 0;
}
