.loadMoreBtn {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
